:root {
    --backgroundcolor: #282828;
    --bordercolor: gray;
    --color: white;
}

body {
    background-color: var(--backgroundcolor);
    color: var(--color);
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.navigationBar{
    background-color: #c0c0c0;
    position: fixed;
    width: 100vw;
    height: 15vh;
}

.navButton{
    border-radius: 25px;
    border: 2px solid #000000;
    background-color: #000dc7;
    margin-top: 2vh;
    padding: 2vh;
    width: 18vw;
    height: 10vh;
}

.navButton:hover {
    background-color: #fffb00;
    color: #000000;
  }