body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: #eefbf4;
    background-position: center;
    font-family: helvetica;

}

.loginbox {
    width:320px;
    height: 420px;
    background: rgba(113, 128, 115, 0.486);
    color: rgb(41, 41, 41);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translat(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.logo {
    width: 500px;
    height: auto;
    margin-left: 40vw;
}


h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;   
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type = "password"] {
    border:none;
    border-bottom: 1px solid rgb(42, 42, 42);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(41, 41, 41);
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border:none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #00cc1b;
    color: #000;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(58, 58, 58);
}

.loginbox a:hover{
    color: #ff5f5f;
}