body {
  --backgroundcolor: #eefbf4;
  --bordercolor: rgba(39, 39, 39, 0.39);
  --color: rgb(248, 248, 248);
}
.topRectangleBar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 15vh; /*Height of top bar relative to screen height*/
  width: 100vw;
  background: #C4C4C4;
}

.addStudentBackgroundBar{
  background-color:  #0074519a;
  position: absolute;
  top: 25vh;
  left: 0.8vw;
  width: 10vw;
  height: 10vh; 
}

.studentBackgroundBar{
  background-color:  #0074519a;
  position: relative;
  top: 10vh;
  left: -9vw;
  width: 87vw;
  height: 81vh;
}

.studentDefaultButton { /*Default button that I got from https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_button_css*/
  border: none;
  white-space: normal;
  position: relative;
  top: 20px;
    color: #12017CFF;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float:left;
    margin: 2px 8px 20px;
    cursor: pointer;
    width: 250px;
    height: 110px;
}
.addStudentDefaultButton { /*Default button that I got from https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_button_css*/
  border: none;
  
  position: relative;
  top: 27px;
    color: #12017CFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
}

.addStudentDefaultButton:hover{
  background-color: #ff0000b2;
}
.addStudentDefaultButton:active{
  background-color: #000dc7b9;
  color: #ffffffFF;
  
}



.studentDefaultButton:hover{
  background-color:  #ff0000b2;
}
.studentDefaultButton:active{
  background-color: #000dc7b9;
  color: #ffffffFF;
}


.button { /*Default button that I got from https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_button_css*/
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}