body {
background-color: #464646;
}
h1{
  color: #12017CFF;  
}
.topRectangleBar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 15vh; /*Height of top bar relative to screen height*/
  width: 100vw;
  background: #C4C4C4;
}

.addStudentBackgroundBar{
  background-color: slateblue;
  position: absolute;
  top: 17vh;
  left: 2vw;
  width: 10vw;
  height: 10vh;
}

.studentBackgroundBar{
  background-color: #3d3d3d71;
  position: relative;
  top: 17vh;
  left: 2vw;
  width: 96vw;
  height: 10vh;
}

.studentDefaultButton { /*Default button that I got from https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_button_css*/
  border: none;
  position: relative;
  top: 20px;
    color: #12017CFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
}
.addStudentDefaultButton { /*Default button that I got from https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_button_css*/
  border: none;
  position: relative;
  top: 20px;
    color: #12017CFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
}



.button { /*Default button that I got from https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_button_css*/
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}