:root {
    --backgroundcolor: #242424;
    --bordercolor: rgba(39, 39, 39, 0.39);
    --color: rgba(255, 255, 255, 0.76);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--backgroundcolor);
    color: var(--color);
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.navigationBar{
    background-color: #3d3d3d71;
    position: fixed;
    width: 100vw;
    height: 15vh;
}

.navButton{
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    appearance: button;
    font-family: Helvetica;
    font-size: 2vw;
    color: var(--color);
    border-radius: 25px;
    border: 2px solid #2020209d;
    background-color: #000dc7b9;
    margin-top: 2.5vh;
    margin-left: .5vw;
    margin-bottom: .5vh;
    padding: 2vh;
    width: 17vw;
    height: 5vh;
}





.navButton:hover {
    background-color: #fffb00;
    color: #000000;
}
.navigationAll{
    width: 100vw;
    height: 15vh;
}

/*
:root {
    --backgroundcolor: #242424;
    --bordercolor: rgba(39, 39, 39, 0.39);
    --color: rgb(255, 255, 255);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--backgroundcolor);
    color: var(--color);
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.navigationBar{
    background-color: #3d3d3d71;
    position: fixed;
    width: 100vw;
    height: 15vh;
}

.navButton{
    font-family: Helvetica;
    font-size: 2vw;
    color: var(--color);
    border-radius: 25px;
    border: 2px solid #2020209d;
    background-color: #000dc7b9;
    margin-top: 2vh;
    margin-left: .5vw;
    margin-bottom: .5vh;
    padding: 2vh;
    width: 17vw;
    height: 10vh;
}

.navButton:hover {
    background-color: #fffb00;
    color: #000000;
  }
 
*/